<!DOCTYPE html>
<html>
<head>
    <base href={{baseUrl "/"}}>
    <meta charset="utf-8">
    <link rel="stylesheet" href={{baseUrl "/css/style.css"}}>
    <link rel="icon" type="image/x-icon" href={{baseUrl "/favicon.ico"}}>
    <title>{{title}}</title>
</head>
<body>
    <div class="bg-gradient-to-b from-orange-300 to-violet-300 w-full h-screen flex flex-col justify-center items-center">
        {{{body}}}
    </div>
</body>
</html>
