<!DOCTYPE html>
<html>
<head>
    <base href={{baseUrl "/"}}>
    <meta charset="utf-8">
    <link rel="stylesheet" href={{baseUrl "/css/style.css"}}>
    <link rel="icon" type="image/x-icon" href={{baseUrl "/favicon.ico"}}>
    <title>{{title}}</title>
</head>
<body class="bg-gradient-to-br from-orange-200 to-violet-200">
    {{{body}}}
</body>
</html>
